name: DevSecOps CI/CD

on:
  push:
    branches: [ main ]

jobs:
  pipeline:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Generate Semantic Version
      id: version
      uses: paulhatch/semantic-version@v5.4.0
      with:
        tag_prefix: "v"
        format: "${major}.${minor}.${patch}"
        major_pattern: "BREAKING CHANGE"
        minor_pattern: "feat"

    - name: Print version
      run: echo "VERSION=${{ steps.version.outputs.version }}"

    - name: Build Docker Image
      run: |
        $VERSION="${{ steps.version.outputs.version }}"
        $REPO_OWNER="${{ github.repository_owner }}".ToLower()
        docker build --no-cache `
          -t ghcr.io/$REPO_OWNER/devsecops-app:$VERSION `
          -t ghcr.io/$REPO_OWNER/devsecops-app:latest `
          -f app/Dockerfile app/

    - name: Scan Image with Trivy
      run: |
        docker run --rm `
          -v /var/run/docker.sock:/var/run/docker.sock `
          aquasec/trivy:latest image `
          --severity CRITICAL,HIGH `
          --ignore-unfixed `
          --exit-code 0 `
          ghcr.io/mawais-ahmad/devsecops-app:latest

    - name: Login to GHCR
      run: echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Push Images
      run: |
        $VERSION="${{ steps.version.outputs.version }}"
        $REPO_OWNER="${{ github.repository_owner }}".ToLower()
        docker push ghcr.io/$REPO_OWNER/devsecops-app:$VERSION
        docker push ghcr.io/$REPO_OWNER/devsecops-app:latest

    - name: Create GHCR Secret
      run: |
        kubectl delete secret ghcr-secret --ignore-not-found=true
        kubectl create secret docker-registry ghcr-secret `
          --docker-server=ghcr.io `
          --docker-username=${{ github.actor }} `
          --docker-password=${{ secrets.GHCR_PAT }} `
          --docker-email=dummy@example.com

    - name: Apply Manifests
      run: kubectl apply -f k8s/

    - name: Patch Deployment With Version
      run: |
        $VERSION="${{ steps.version.outputs.version }}"
        $REPO_OWNER="${{ github.repository_owner }}".ToLower()
        kubectl set image deployment/devsecops-app web=ghcr.io/$REPO_OWNER/devsecops-app:$VERSION

    - name: Wait for Rollout
      run: kubectl rollout status deployment/devsecops-app
